<div class="row account-info">
	<div class="account-container">
		<h2 class="title">{{'_AccountTitle_' | i18n}}</h2>
		
		<h3>{{'_AccountInfoLabel_' | i18n}}</h3>
		
		<div class="form-group">
			<a class="btn btn-primary" ng-click="createTimeRule()">{{'_EditButton_' | i18n}}</a>
		</div>
		
		<h3>{{'_SubscriptionLabel_' | i18n}}</h3>
		<p>{{'_TrialHint_' | i18n}}</p>
		
		<div class="form-group">
			<a class="btn btn-primary" ng-click="createTimeRule()">{{'_PurchaseNowButton_' | i18n}}</a>
		</div>
		
		<p>
			<a>{{'_TNC_' | i18n}}</a>
		</p>
		<p>
			<a>{{'_Privacy_' | i18n}}</a>
		</p>
		
	</div>
</div>