<div class="row profile">
	<div class="profile-container">
		<h2 class="title">{{'_CreateRuleProfileRestrictions_' | i18n}}</h2>
		<p>{{'_CreateRuleProfileRestrictionsNote_' | i18n}}</p>
		
		<form role="form">		
			<h4>{{'_SelectProfile_' | i18n}}</h4>
			<div class="form-group">
				<div class="btn-group dropdown-select" dropdown>
					<button type="button" class="btn dropdownWords">{{selectedOption.profileName}} </button>
					<button type="button" class="btn dropdown-toggle dropdownIcon">
					   <span class="caret"></span>
					   <span class="sr-only"></span>
					 </button>
					 <ul class="dropdown-menu">		
						<li ng-repeat="opt in options" ng-click="updateOption($index)">{{opt.profileName}}</li>
					</ul>
				</div>
				<p class="hint">{{selectedOption.description}}</p>
			</div>
			
			<div class="form-group">	
			<!-- profile restrictions -->
			<h5 ng-click="restrictionCollapsed()">{{'_ProfileRestrictions_' | i18n}}</h5>
			<div collapse="isRestrictionCollapsed">
				<div class="form-group" ng-repeat="restriction in selectedOption.restrictions">
					<div>{{restriction.label}}</div>
					<div class="btn-group">
						<label class="btn btn-success" ng-model="restriction.enabled" btn-radio="true" uncheckable>{{'_RadioButtonOn_' | i18n}}</label>
						<label class="btn btn-success" ng-model="restriction.enabled" btn-radio="false" uncheckable>{{'_RadioButtonOff_' | i18n}}</label>
					</div>
				</div>

			</div>	
			<!-- profile ratings -->
			<h5 ng-click="ratingCollapsed()">{{'_ProfileRatings_' | i18n}}</h5>
			<div collapse="isRatingCollapsed">
				<div class="form-group" ng-repeat="rating in selectedOption.ratings">
					<div>{{rating.label}}</div>
					<div class="btn-group dropdown-select" dropdown>
						<button type="button" class="btn dropdownWords">{{rating.selected}} </button>
						<button type="button" class="btn dropdown-toggle dropdownIcon">
						   <span class="caret"></span>
						   <span class="sr-only"></span>
						 </button>
						 <ul class="dropdown-menu">		
							<li ng-repeat="opt in rating.options" ng-click="updateRatingOption(rating, $index)">{{opt}}</li>
						</ul>
					</div>
				</div>
			</div>	
			<!-- advanced settings -->
			<h5 ng-click="advancedCollapsed()">{{'_AdvancedSettings_' | i18n}}</h5>
			<div collapse="isAdvanceCollapsed">
				<div class="form-group" ng-repeat="setting in selectedOption.advanced">
					<div>{{setting.label}}</div>
					<div class="btn-group">
						<label class="btn btn-success" ng-model="setting.enabled" btn-radio="true" uncheckable>{{'_RadioButtonOn_' | i18n}}</label>
						<label class="btn btn-success" ng-model="setting.enabled" btn-radio="false" uncheckable>{{'_RadioButtonOff_' | i18n}}</label>
					</div>
				</div>
			</div>	
			
			<div class="form-group">
				<a class="btn btn-primary" ng-click="resetProfile()">{{'_ResetButton_' | i18n}}</a>
			</div>

			<div class="form-group">
				<a class="btn btn-primary" ng-click="nextStep()">{{'_NextButton_' | i18n}}</a>
			</div>
			
		</form>
	</div>
</div>