<div class="row dashboard">
	<div class="dashboard-container">
		<h2>{{'_MyChildDevices_' | i18n}}</h2>
		<div class="form-group" ng-repeat="device in devices">
			<a class="btn btn-default {{device.enrolled}}" ng-click="showDeviceDetail(device)">{{device.name}}</a>
			<div class="device-info">{{'_ProfileLabel_' | i18n}} {{device.profileName}}</div>
		</div>
		<div class="form-group">
			<a class="btn btn-primary" ng-click="createNewDevice()">{{'_CreateNewDeviceButton_' | i18n}}</a>
		</div>
		
		<h4>{{'_RulesProfileLabel_' | i18n}}</h4>
		<div class="form-group">
			<a class="btn btn-secondary" ng-click="seeMyProfile()">{{'_MyProfileButton_' | i18n}}</a>
		</div>
		<div class="form-group">
			<a class="btn btn-secondary" ng-click="createProfile()">{{'_CreatePrfileButton_' | i18n}}</a>
		</div>

		<h4>{{'_TimeRulesLabel_' | i18n}}</h4>
		<div class="form-group">
			<a class="btn btn-secondary" ng-click="seeMyTimeRule()">{{'_MyTimeRulesButton_' | i18n}}</a>
		</div>
		<div class="form-group">
			<a class="btn btn-secondary" ng-click="createTimeRule()">{{'_CreateTimeRuleButton_' | i18n}}</a>
		</div>
		
		<h4>{{'_TimeoutsLabel_' | i18n}}</h4>
		<div class="form-group">
			<a class="btn btn-secondary" ng-click="seeTimeout()">{{'_MyTimeoutsButton_' | i18n}}</a>
		</div>
		<div class="form-group">
			<a class="btn btn-secondary" ng-click="createTimeout()">{{'_CreateTimeoutButton_' | i18n}}</a>
		</div>
		
	</div>
</div>