<div class="row device">
	<div class="device-container">
		<h2 class="title">{{'_CreateRulesProfileAndEnroll_' | i18n}}</h2>
	
		<h4>{{'_EnrollCongratulations_' | i18n}}</h4>
		<pc-steps currentStep="{{currentStep}}" finishedStep="{{finishedStep}}"></pc-steps>
		
		<p>{{'_CreateRulesProfileAndEnrollGreat_' | i18n}}</p>
		<p>{{'_EnjoyYourParentalControls_' | i18n}}</p>
		
		<div class="form-group">
			<a class="btn btn-primary" ng-click="showDashboard()">{{'_MyDashboardButton_' | i18n}}</a>
		</div>

	</div>
</div>