<div class="row device">
	<div class="device-container">
		<h2 class="title">{{'_EnrollChildDevice_' | i18n}}</h2>
		<p>{{'_EnrollChildDeviceGreat_' | i18n}}</p>
		
	
		<h4>{{'_DeviceEnrollInstructions_' | i18n}}</h4>
		<ol>
		<li>{{'_InstructionsStep1_' | i18n}}</li>
		<li>{{'_InstructionsStep1_' | i18n}}</li>
		<li>{{'_InstructionsStep1_' | i18n}}</li>
		</ol>
		<p>{{'_InstructionsNote_' | i18n}}</p>
		
		
		<div class="form-group">
			<a class="btn btn-primary" ng-click="nextStep()">{{'_NextButton_' | i18n}}</a>
		</div>

	</div>
</div>