<div class="row timeout-info">
	<div class="time-rule-container">
		<h2 class="title">{{'_TimeoutTitle_' | i18n}}</h2>
		<p>{{'_TimeoutSettingsDescription_' | i18n}}</p>
		<h4>{{'_SelectedChildDeviceLabel_' | i18n}}</h4>
		
		<h4>{{'_SelectYourTimeoutProfileLabel_' | i18n}}</h4>
		
		<p>{{'_SelectYourTimeoutProfileHint_' | i18n}}</p>
		
		<h4>{{'_TimeoutStartTimeLabel_' | i18n}}</h4>
		<input type="datetime-local"/>
		<h4>{{'_TimeoutEndTimeLabel_' | i18n}}</h4>
		<input type="datetime-local"/>
		
		<h4>{{'_TimeoutDuration_' | i18n}}</h4>
		
		<div class="form-group">
			<a class="btn btn-default" ng-click="showDeviceDetail(device)">{{'_StartTimeoutButton_' | i18n}}</a>
		</div>

	</div>
</div>