<div class="row steps">
	<h4 class="step1{{currentStep==1?' active':''}}{{finishedStep>=1?' finished':''}}">{{'_Step1_' | i18n}} <i class="fa fa-check" ng-if="finishedStep>=1"></i></h4>
	<h4 class="step2{{currentStep==2?' active':''}}{{finishedStep>=2?' finished':''}}">{{'_Step2_' | i18n}} <i class="fa fa-check" ng-if="finishedStep>=2"></i></h4>
	<h4 class="step3{{currentStep==3?' active':''}}{{finishedStep>=3?' finished':''}}">{{'_Step3_' | i18n}} <i class="fa fa-check" ng-if="finishedStep>=3"></i></h4>		
</div>

